{% extends 'website/basetwo.html'%}
{% block content %}
{% load static %}
    <div class='mt-5 now'>
    <div class='container '>
    <div class='container '>
    <div class="login-box mt-5">
    
      <img src="{% static 'website/images/tesslogo.jpg' %}" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Log In">
        <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a>
      </form>
    </div>
    </div>
    </div>
    </div>
{% endblock content %}